*{
margin: 20px;
padding: 0px;
}
html{
  scroll-behavior: smooth;
}
.navbar{
  display: flex;
  justify-content: center;
  height: 50px;
  align-items: center;
  position: sticky;
  top: 0px;
}
.navbar::before{
content: "";
position: absolute;
background-color: rgba(0,0,0,0.5);
height: 100%;
width: 100%;
z-index: -1;
}

.navbar ul{

  display: flex;
  list-style: none;
}
.navbar ul li{
  font-size: 1.1rem;
}
.navbarul li a {
padding: 50px 20px;
text-decoration: none;
color: white;
}

.navbar ul li a:hover{
  border-bottom: 2px solid rgb(212, 29, 59);
}

#home{
  display: flex;
  flex-direction: column;
  height: 650px;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.5);
  background-image: url(kajetan-sumila-7vfm8_A2GXY-unsplash.jpg);
  background-size: cover;
}

#home::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 700px;
  width: 100%; 
  z-index: -1;
  color: wheat;
  opacity: 0.8;
}
#p{
  color: #3c40bf;
}
#pp{
  font-size: 30px;
  padding: 15px;
}
.heading{
  color: #bd3ab9;
  font-size: 3rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
text-align: center;
transform: scale(1,1,3);
}
#education{
  display: flex;
  flex-direction: column;
  height: 700px;
  background-color: #f7f6f6;}

.education{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }


#education h1{
  margin: 60px;
}
.education img{
  width: 500px;
  height: 400px;
  padding: 0px,30px;
 
}


#skills h1{
  margin: 60px;
}

#skills{
    display: flex;
    flex-direction: column;
    background-color:#f7f6f6;
    height: 700px;
    }
    #skills li,#about li,#education li{
      font-size: 21px;
    }
.skills img{
  width: 500px;
  height: 400px;
  padding: 0px,30px;
 
}



  .skills{
    display: flex;
      align-items: center;
      margin-bottom: 20px;
    }
#about{
  display: flex;
  flex-direction: column;
  height: 700px;
  background-color: #f7f6f6;
}


#about h1{
  margin: 55px;
  color: #bd3ab9;

}

.about{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.about img{
  width: 500px;
  height: 400px;
  padding: 0px,30px;
}

.name{
  padding: 10px;
}
.name h2{
  font-size: 2rem;
}
.name p{
  font-size: 1.2rem;
}
#contact{
  display: flex;
  flex-direction: column;
  background-color: #dbb1b1;
}

#contact h1{
  margin: 50px;
}
.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.input{
  padding: 15px 20px;
  margin: 15px;
  width: 40%;
  border: none;
  outline: none;
  border-radius: 25px;
}
#links{
flex-direction: row;
align-items: center;
}
#message{
  margin: 15px;
  padding: 10px;
  border-radius: 20px;
}

#submit{
  padding: 15px 20px;
  margin: 30px;
  width: 15%;
  border-radius: 20px;
  color: aliceblue;
  background-color: black;
  border: none;
  outline: none;
}
#submit:hover{
  background-color: chartreuse;
  color: white;
  cursor: pointer;
}